<section id="about" class="bg-custom-yellow">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="display-2 header-text">About</h1>
        <div class="body-text">
          <ng-container *ngIf="textReady; else loading">
            <app-quill-view [content]="aboutMeText"></app-quill-view>
          </ng-container>
        </div>
      </div>
      <div class="col-md-5">
        <img
          src="assets/img/andrew-1.jpg"
          alt=""
          class="img-fluid rounded-circle d-none d-md-block about-img"
        />
      </div>
    </div>
  </div>
</section>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
