<section id="about" class="bg-custom-yellow">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="display-2 header-text">About</h1>
        <div class="body-text">
          <p>
            Andrew Overton is an actor based out of Baltimore Maryland, but due
            to the nomadic actor life, he hasn't seen his apartment or roommate
            since June, and wont be seeing either anytime soon. Born and raised
            in the bustling metropolis of Des Moines, Iowa, which maybe you
            heard about during last years caucus season, or on the hit TV show,
            Guy Fieri's "Diners, Drive-Ins, and Dives".
          </p>
          <p>
            Much like the character Finn from Glee, Andrew spent his formative
            years pretending he liked sports. It was in middle school that
            Andrew found a real passion for singing and began taking voice
            lessons. It was at this point that the Arts grasped ahold of him and
            refused to let go. His sophomore year of high school, upond seeing a
            touring production of Wicked (of course it was Wicked) he decided to
            audition for the school play, and ended up being cast as Damis in an
            ill-conceived production of Tartuffe.
          </p>
          <p>
            From then on, this sparked a love for acting and theatre that stayed
            with him and carried him to Drake University to pursue his BFA in
            Musical Theatre (after spending one brief semester as a Music
            Education Major, which according to his mother was "a much more
            stable profession")
          </p>
          <p>
            When not acting or writing, Andrew can be found spending too much
            money on things he doesn't need at your local Nordstrom Rack with a
            credit card he got "just for emergencies."
          </p>
        </div>
      </div>
      <div class="col-md-5">
        <img
          src="assets/img/andrew-1.jpg"
          alt=""
          class="img-fluid rounded-circle d-none d-md-block about-img"
        />
      </div>
    </div>
  </div>
</section>
