<nav
  id="main-nav"
  class="navbar navbar-expand-md bg-custom-red py-4 header-text"
>
  <div class="container">
    <a routerLink="/" class="navbar-brand">
      <h3 class="display-3 d-inline align-middle text-dark callout">
        Andrew Overton
      </h3>
    </a>
    <p id="slogan" class="d-none d-lg-inline align-middle my-auto">
      Actor / Singer / Dancer
    </p>
    <button
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#navbar-collapse"
    >
      <span class="navbar-toggler-icon">
        <i class="fa fa-2x fa-bars"> </i>
      </span>
    </button>
    <div id="navbar-collapse" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a routerLink="/" class="nav-link text-dark">Home</a>
        </li>
        <li class="nav-item text-dark">
          <a routerLink="about" class="nav-link text-dark">About</a>
        </li>
        <li class="nav-item">
          <a routerLink="resume" class="nav-link text-dark">Resume</a>
        </li>
        <li class="nav-item">
          <a routerLink="media" class="nav-link text-dark">Media</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
