<section id="shows" class="py-2 bg-custom-yellow">
  <div class="container">
    <div class="row" *ngIf="ready; else loading">
      <div class="col-md-6">
        <h2 class="text-center display-2 header-text">
          Upcoming Shows
        </h2>
        <div class="list-group">
          <ng-container *ngFor="let show of upcomingShows">
            <app-vanilla-list-item
              [title]="show.title"
              [details]="show.details"
              [footer]="buildFooter(show)"
            ></app-vanilla-list-item>
          </ng-container>
          <p class="text-center" *ngIf="upcomingShows.length === 0">
            No upcoming shows.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <h2 class="text-center display-2 header-text">Past Shows</h2>
        <div class="list-group">
          <ng-container *ngFor="let show of pastShows">
            <app-vanilla-list-item
              [title]="show.title"
              [details]="show.details"
              [footer]="buildFooter(show)"
            ></app-vanilla-list-item>
          </ng-container>
          <p class="text-center" *ngIf="pastShows.length === 0">
            No past shows.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
