<section class="my-5" id="login-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <h1>Welcome to the Admin Page</h1>
        <p>
          This is a (mostly empty) mockup of what an admin page would look like.
        </p>
        <p>
          Try <strong>Manage Shows</strong> from the Admin Menu! You can add, edit, and delete the
          shows that appear on the <strong>Home Page</strong>. These changes
          will be temporary and will disappear when you exit or refresh the
          page.
        </p>
      </div>
    </div>
  </div>
</section>
