<section class="my-5" id="login-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <h1>Welcome to the Admin Page</h1>
        <p>
          From here you can manage the content for your portfolio.
        </p>
        <p>More will come later!</p>
        <p>
          For questions email:
          <strong>
            fakefanadam@gmail.com
          </strong>
        </p>
        <app-quill-default></app-quill-default>
      </div>
    </div>
  </div>
</section>
