<section id="singing-samples" class="bg-custom-yellow py-3">
  <div class="container">
    <div class="row">
      <h2 class="mx-auto py-4 display-2 header-text">Singing Samples</h2>
    </div>
    <div class="row justify-content-around">
      <div class="card text-dark my-1">
        <div class="card-header">
          <div class="card-text text-center">
            <p>
              <span class="lead">Try Me</span
              ><small class="text-muted"> (She Loves Me)</small>
            </p>
            <p>
              <span class="lead">Big News</span
              ><small class="text-muted"> (Parade)</small>
            </p>
          </div>
        </div>
        <div class="card-body">
          <iframe
            width="396"
            height="233"
            src="https://www.youtube.com/embed/e5v7bVIbELY"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
      <div class="card text-dark my-1">
        <div class="card-header">
          <div class="card-text text-center">
            <p>
              <span class="lead">Santa Fe</span
              ><small class="text-muted"> (Newsies)</small>
            </p>
            <p>
              <span class="lead">Big News</span
              ><small class="text-muted"> (Robber Bridegroom)</small>
            </p>
          </div>
        </div>
        <div class="card-body">
          <iframe
            width="403"
            height="234"
            src="https://www.youtube.com/embed/BjYnZSc_lFg"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
