<section id="singing-samples" class="bg-custom-yellow py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center py-4 display-2 header-text">Singing Samples</h2>
      </div>
    </div>
    <div class="row justify-content-around">
      <ng-container *ngFor="let singingSample of singingSampleList">
        <div class="card text-dark my-1 col-md-12">
          <div class="card-body">
            <h3>{{singingSample.title}}</h3>
            <p *ngFor="let label of singingSample.labels">
              <span class="lead">{{ label }}</span>
            </p>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe
                class="embed-responsive-item"
                [src]="singingSample.youtubeLink | safe"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>
