<section class="my-5" id="login-section">
    <div class="container">
      <div class="row" *ngIf="error">
        <div class="col-md-6 mx-auto">
          <div class="alert alert-danger" role="alert">
            Login failed, please try again.
          </div>
        </div>
      </div>
      <div class="row" *ngIf="ready; else loading">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header"><h4>Account Login</h4></div>
            <div class="card-body">
              <form action="index.html">
                <div class="form-group">
                  <label for="email"> Email </label>
                  <input
                    name="email"
                    type="text"
                    class="form-control"
                    [(ngModel)]="user.email"
                    placeholder="email"
                  />
                </div>
                <div class="form-group">
                  <label for="password"> Password </label>
                  <input
                    name="password"
                    type="password"
                    class="form-control"
                    [(ngModel)]="user.password"
                    placeholder="password"
                  />
                </div>
                <input
                  type="submit"
                  value="Login"
                  (click)="login()"
                  class="btn btn-primary btn-block"
                />
              </form>
              <p class="my-2">
                <app-modal-trigger-link [modalBoxId]="'forgot-password-modal'">
                  Forgot password?
                </app-modal-trigger-link>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <app-modal-box-basic
    [modalBoxId]="'forgot-password-modal'"
    [modalTitle]="'Forgot password?'"
  >
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ng-container id="reset-form" *ngIf="!resetComplete; else sentMessage">
            <div class="form-group">
              <label for="email"> Email </label>
              <input
                name="email"
                type="text"
                class="form-control"
                [(ngModel)]="user.email"
                placeholder="Email"
              />
            </div>

            <app-errors-report-row
              class="mt-3"
              [errors]="resetErrors"
              [showErrors]="showResetErrors"
            ></app-errors-report-row>

            <button
              class="btn btn-block btn-success"
              (click)="submitPasswordReset()"
            >
              Send Password Reset Email
            </button>
          </ng-container>
        </div>
      </div>
    </div>
  </app-modal-box-basic>

  <ng-template #loading>
    <app-loading></app-loading>
  </ng-template>

  <ng-template #sentMessage>
    <p>Password reset email sent! Check your email for your new password.</p>
  </ng-template>
