<section id="training-section" class="bg-custom-yellow py-3">
  <div class="container">
    <div class="row">
      <a
        href="#collapse-training"
        data-toggle="collapse"
        class="mx-auto py-2 display-2 header-text"
        >Training</a
      >
    </div>
    <div
      class="row collapse"
      id="collapse-training"
      data-parent="#resume-accordion"
      *ngFor="let trainingItem of training"
    >
      <div class="card col-12 body-text text-center">
        <div class="card-body">
          <h5 class="card-title display-4">{{ trainingItem.title }}</h5>
          <p class="card-subtitle mb-2" *ngIf="trainingItem.institution">
            {{ trainingItem.institution }}
          </p>
          <div class="card-text" *ngIf="trainingItem.instructors">
            <p>
              Trained by:
              <ng-container
                *ngFor="
                  let instructor of trainingItem.instructors;
                  let i = index
                "
              >
                <span>{{ instructor }}</span>
                <span *ngIf="i !== trainingItem.instructors.length - 1"
                  >,
                </span>
              </ng-container>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
