<section id="credit-section" class="bg-custom-blue pb-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center display-2 header-text">
          Credit
        </h2>
        <div class="list-group">
          <ng-container *ngFor="let credit of creditList">
            <app-vanilla-list-item
              [title]="credit.title + ' starring as ' + credit.role"
              [details]="credit.theatre"
              [footer]="'Directed by ' + credit.director"
            ></app-vanilla-list-item>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</section>
