<section id="singing-samples" class="bg-custom-yellow py-3">
  <div class="container">
    <div class="row">
      <h2 class="mx-auto py-4 display-2 header-text">Singing Samples</h2>
    </div>
    <div class="row justify-content-around">
      <div class="card text-dark my-1">
        <div class="card-header">
          <div class="card-text text-center">
            <p>
              <span class="lead">Try Me</span
              ><small class="text-muted"> (She Loves Me)</small>
            </p>
            <p>
              <span class="lead">Big News</span
              ><small class="text-muted"> (Parade)</small>
            </p>
          </div>
        </div>
        <div class="card-body">
          <iframe
            width="396"
            height="233"
            src="https://www.youtube.com/embed/e5v7bVIbELY"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
      <div class="card text-dark my-1">
        <div class="card-header">
          <div class="card-text text-center">
            <p>
              <span class="lead">Santa Fe</span
              ><small class="text-muted"> (Newsies)</small>
            </p>
            <p>
              <span class="lead">Big News</span
              ><small class="text-muted"> (Robber Bridegroom)</small>
            </p>
          </div>
        </div>
        <div class="card-body">
          <iframe
            width="403"
            height="234"
            src="https://www.youtube.com/embed/BjYnZSc_lFg"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="production-stills" class="bg-custom-blue py-3">
  <div class="container">
    <div class="row">
      <h2 class="mx-auto pt-4 display-2 header-text">Production Stills</h2>
    </div>
    <div class="row">
      <p class="mx-auto pt-2 pb-4 body-text">
        Photos from Damn Yankees, Heathers, Rock of Ages, and Cabaret
      </p>
    </div>
    <div class="row justify-content-between">
      <div class="row no-gutters">
        <div class="col-md-3">
          <img
            src="https://unsplash.it/600.jpg?image=252"
            alt=""
            class="img-fluid"
          />
        </div>
        <div class="col-md-3">
          <img
            src="https://unsplash.it/600.jpg?image=253"
            alt=""
            class="img-fluid"
          />
        </div>
        <div class="col-md-3">
          <img
            src="https://unsplash.it/600.jpg?image=254"
            alt=""
            class="img-fluid"
          />
        </div>
        <div class="col-md-3">
          <img
            src="https://unsplash.it/600.jpg?image=255"
            alt=""
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</section>
