@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.body-text {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 2rem;
}

.header-text {
  font-family: "Amatic SC", cursive;
  font-size: 2rem;
  font-weight: bold;
}

.bigger-text,
.bigger-text span,
.bigger-text p {
  font-size: 2rem;
}
