<section id="skills-section" class="bg-custom-blue py-3">
  <div class="container">
    <div class="row">
      <a
        href="#collapse-skills"
        data-toggle="collapse"
        class="py-3 mx-auto display-2 header-text"
        >Special Skills</a
      >
    </div>
    <div
      class="row collapse"
      data-parent="#resume-accordion"
      id="collapse-skills"
      *ngFor="let skill of skills"
    >
      <div class="card col-12 text-center body-text">
        <div class="card-body">
          <h5 class="card-title display-4">{{ skill.title }}</h5>
          <ul class="list-group" *ngFor="let detail of skill.details">
            <li class="list-group-item">{{ detail }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
